@tailwind base;
@tailwind components;
@tailwind utilities;



.main-background {
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.main-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/background.jpg"); /* arkaplan resmi dosya yolunu buraya girin */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.footer-background {
  background-image: url("/images/footer-background.jpg"); /* arkaplan resmi dosya yolunu buraya girin */
  background-size: cover;
  background-position: center;
}


/* Input  */

input:focus {
  outline: none;
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    border-color: rgba(255, 0, 0, 0.9);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.3);
  }
  100% {
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
}

.button-eye span {
  position: absolute;
  top: 50%;
  
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: red;
  transition: all 0.2s ease-in-out;
}

.button-eye:hover span {
  animation: pulseeye 3s ease-in-out infinite;
}

@keyframes pulseeye {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.starfont{
  color: yellow;
  font-size: 32px;

}



.star-wars {
  overflow: hidden;
  position: relative;
  height: 600px;
  perspective: 300px;
  transform-style: preserve-3d;
}

.crawl {
  position: relative;
  top: 9999px;
  bottom: -250%;
  transform-origin: 50% 100%;
  animation: crawl 240s linear forwards;
  font-family: "Star Wars", sans-serif;
  font-size: 2em;
  text-align: justify;
  color: yellow;
}

.title p {
  font-size: 0.5em;
  margin-bottom: -5em;
}

.title h1 {
  margin-bottom: 2em;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateY(100%);
  }
  100% {
    top: -10000px;
    transform: rotateX(25deg) translateY(-50%) scale(0.2);
  }
}


/* LightSaber */

.lightsaber-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightsaber {
  position: relative;
  width: 200px;
  height: 10px;
  background-color: #000;
}

.lightsaber.right {
  margin-left: 10px;
}

.shaft {
  position: absolute;
  top: -50px;
  left: 0;
  width: 10px;
  height: 100px;
  background: linear-gradient(to bottom, #fef000 0%, #ff0000 100%);
  animation: glow 2s infinite;
}

.lightsaber.right .shaft {
  animation-delay: 0.5s;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 10px 10px rgba(255, 0, 0, 1);
  }
}